extends layout

block styles
  link(rel="stylesheet", href="/vendor/bootstrap.min.css")
  link(rel="stylesheet", href="/vendor/font-awesome.css")
  link(rel='stylesheet', href='/styles/main.css')

block scripts

  script(src='/vendor/jquery.min.js')
  script(src='/vendor/bootstrap.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js')
  script(src='/scripts/IntervalTree.js')
  script(src='/scripts/app2.js')
  
block content
  .container
    #calendar

  


