.container 
  max-width 940px
  position relative

.calendar
  width 100%
  position relative

.event
  position absolute
  display block
  border 1px solid black

  &.event1
    width 100%

  &.event2
    width 50%

  &.event3
    width 33.333%

  &.event4
    width 25%

  &.event5
    width 20%
